Makefile.am
configure.ac
src/main.c
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
chess-vision-trainer
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/.dirstamp
src/main.o
stamp-h1
